@use '../utils' as *;
// SI Btn
.si__btn{
    padding: 13px 30px;
    background: var(--si-theme-color);
    color: var(--si-white-color);
    border-radius: 50px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    font-size: 13px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    @media #{$lg2}{
        padding: 10px 27px;
        font-size: 12px;
    }
}
.si__styletwo{
    padding: 13px 55px;
    position: absolute;
    right: 7px;
    border: none;
    bottom: 6px;
    @media #{$lg2}{
        position: inherit;
    }
    @media #{$lg2}{
        width: 100%;
        margin-top: 25px;
        margin-left: 9px;
    }
}
.si__btn::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 0%;
    width: 100%;
    background: var(--si-secondary-color);
    color: var(--si-white-color);
    @include si-transition-mul(.6s);
    z-index: -1;
}
.si__btn:hover::before{
    height: 100%;
}
.si__btn__two{
    padding: 13px 30px;
    background: var(--si-theme-color);
    color: var(--si-white-color);
    border-radius: 50px;
    margin-top: 48px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    font-size: 13px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.si__btn__two::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 0%;
    width: 100%;
    background: #0268a8;
    color: var(--si-white-color);
    @include si-transition-mul(.6s);
    z-index: -1;
}
.si__btn__two:hover::before{
    height: 100%;
}
.si__btn__three{
    padding: 13px 30px;
    background: var(--si-secondary-color);
    color: var(--si-white-color);
    border-radius: 50px;
    margin-top: 48px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    font-size: 13px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.si__btn__three::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 0%;
    width: 100%;
    background: var(--si-theme-color);
    color: var(--si-white-color);
    @include si-transition-mul(.6s);
    z-index: -1;
}
.si__btn__three:hover::before{
    height: 100%;
}
.si__btn__three{
    border: 1px solid var(--si-theme-color);
    margin-left: 26px;
}
.si__btn__four{
    background: var(--si-white-color);
    color: var(--si-secondary-color);
    padding: 13px 30px;
    border-radius: 50px;
    margin-top: 24px;
    border: 1px solid var(--si-theme-color);
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    font-size: 13px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.si__btn__four i{
    font-size: 15px;
    margin-left: 8px;
}
.si__btn__four::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 0%;
    width: 100%;
    background: var(--si-theme-color);
    color: var(--si-white-color);
    @include si-transition-mul(.6s);
    z-index: -1;
}
.si__btn__four:hover::before{
    height: 100%;
}
.si__btn__four:hover{
    color: var(--si-white-color);
}